{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
  <h1>Change Password</h1>
  <form method="POST" action="{{ url_for('change_password') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.old_password.label }} {{ form.old_password(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.new_password.label }} {{ form.new_password(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.new_password2.label }} {{ form.new_password2(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
{% endblock %}
